<section id="{% if page.header.redirect %}{{ page.header.redirect }}{% else %}{{ page.menu|lower }}{% endif %}"
         class="s-about {{ page.header.sectionBackground }} target-section">
    <div class="row narrow section-intro has-bottom-sep">
        <div class="col-full text-center">
            <h3>{{ page.header.smallTitle }}</h3>
            <h1>{{ page.title }}</h1>
            <p class="lead">{{ page.content|striptags }}</p>
        </div>
    </div>

    <div class="row about-content">

        <div class="col-six tab-full left">
            <h3>{{ page.header.bioTitle }}</h3>

            <p class="lead">{{ page.header.bioDescription|markdown }}
            </p>
        </div>

        <div class="col-six tab-full right">
            <h3>{{ page.header.skillsTitle }}</h3>

            <ul class="skill-bars">
                {% for item in page.header.skills %}

                    <li>
                        <div class="progress" style="width: {{ item.percentValue }}">
                            <span>{{ item.percentValue }}</span>
                        </div>
                        <strong>{{ item.skillName }}</strong>
                    </li>

                {% endfor %}
            </ul>
        </div>

    </div>
    <!-- end about-content -->

    <div class="row about-content about-content--buttons">

        <div class="col-six tab-full left">
            <a href="{{ page.header.button1Link }}" class="btn btn--primary full-width">{{ page.header.button1Text }}</a>
        </div>
        <div class="col-six tab-full right">
            <a href="{{ page.header.button2Link }}" class="btn full-width">{{ page.header.button2Text }}</a>
        </div>

    </div>
    <!-- end about-content buttons -->

</section>
<!-- end about -->