<section id="{{page.template|lower|split('/')|last}}" class="s-basic target-section">
    <div class="row narrow section-intro has-bottom-sep">
        <div class="col-full text-center">
            <h3>{{ page.header.smallTitle }}</h3>
            <h1>{{ page.title}}</h1>
            <p class="lead">{{ page.content|striptags }}</p>
        </div>
    </div>

    {% if page.header.secondColumnContent %}
        <div class="row basic-content">
            <div class="col-six tab-full left">
                <h3>{{ page.header.firstColumnTitle }}</h3>

                <p class="lead">{{ page.header.firstColumnContent|markdown }}
                </p>
            </div>

            <div class="col-six tab-full right">
                <h3>{{ page.header.secondColumnTitle }}</h3>

                <p class="lead">{{ page.header.secondColumnContent|markdown }}
                </p>
            </div>
        </div>
    {% else %}
    <div class="row basic-content one-column">
        <div class="col-eight tab-full">
            <h3>{{ page.header.firstColumnTitle }}</h3>

            <p class="lead">{{ page.header.firstColumnContent|markdown }}
            </p>
        </div>
        </div>
    {% endif %}

    <!-- end basic-content -->

</section>
<!-- end basic -->