<section id="{% if page.header.redirect %}{{ page.header.redirect }}{% else %}{{ page.menu|lower }}{% endif %}"
         class="s-experience {{ page.header.sectionBackground }} target-section">

    <div class="row experience-content experience-content--timeline">
        <div class="col-full text-center">
            <h3>{{ page.title }}</h3>
        </div>
        {% for item in page.header.experienceTimeline %}
            <div class="col-six tab-full {% if item is odd %}left{% else %}right{% endif %}">
                <div class="timeline">
                    <div class="timeline__block">
                        <div class="timeline__bullet"></div>
                        <div class="timeline__header">
                            <p class="timeline__timeframe">{{ item.date }}</p>
                            <h3>{{ item.client }}</h3>
                            <h5>{{ item.position }}</h5>
                        </div>
                        <div class="timeline__desc">
                            <p>{{ item.description }}</p>
                        </div>
                    </div> <!-- end timeline__block -->
                </div> <!-- end timeline -->
            </div> <!-- end left -->
        {% endfor %}
    </div> <!-- end experience-content timeline -->

</section>
