<!-- resume Section
   ================================================== -->
	<section id="resume" class="grey-section">

		<div class="row section-intro">
   		<div class="col-twelve">

   			<h3>Resume</h3>
   			<h1>More of my credentials.</h1>

   			<p class="lead">Lorem ipsum Do commodo in proident enim in dolor cupidatat adipisicing dolore officia nisi aliqua incididunt Ut veniam lorem ipsum Consectetur ut in in eu do.</p>

   		</div>   		
   	</div> <!-- /section-intro--> 

{% for timeline in page.header.timeline %}
	

   	<div class="row resume-timeline">

   		<div class="col-twelve resume-header">

   			<h2>{{ timeline.resumeTitle }}</h2>

   		</div> <!-- /resume-header -->

   		<div class="col-twelve">

   			<div class="timeline-wrap">
			{% for item in timeline.timelineItems %}

   				<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="im {{ item.icon_class}}"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>{{ item.position }}</h3>
	   					<p>{{ item.date }}</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>{{ item.title }}</h4>
	   					<p>{{ item.descripiton }}</p>
	   				</div>

	   			</div> <!-- /timeline-block -->
			{% endfor %}
   			</div> <!-- /timeline-wrap -->   			

   		</div> <!-- /col-twelve -->
   		
   	</div> <!-- /resume-timeline -->
   	
	{% endfor %}	
	</section> <!-- /features -->