<!-- testimonials ================================================== -->
<section id="{% if page.header.redirect %}{{ page.header.redirect }}{% else %}{{ page.menu|lower }}{% endif %}"
         class="s-testimonials {{ page.header.sectionBackground }} target-section"
         style="background: url({{ page.media[page.header.sectionbackground].url }})">

    <div class="overlay" style="opacity:{{ page.header.backgroundOverlay }};"></div>

    <div class="row testimonials-header">
        <div class="col-full">
            <h1 class="h02">{{ page.title }}</h1>
        </div>
    </div>

    <div class="row testimonials">

        <div class="col-full testimonials__slider">
            {% for item in page.header.testimonials %}

                <div class="testimonials__slide">
                    <img src="{{ page.media[item.image].url }}" alt="Author image" class="testimonials__avatar">
                    <p>{{ item.description }}</p>
                    <div class="testimonials__author h06">
                        {{ item.clientName }}
                        <span>{{ item.position }}</span>
                    </div>
                </div>

            {% endfor %}

        </div> <!-- end testimonials__slider -->

    </div> <!-- end testimonials -->

</section> <!-- end s-testimonials -->
