{% set body_classes = body_class(['header-fixed', 'header-animated', 'header-dark', 'header-transparent', 'sticky-footer']) %}
{% set grid_size = theme_var('grid-size') %}
{% set compress = theme_var('production_mode') ? '.min.css' : '.css' %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
    <head>
        {% block head %}
            <meta charset="utf-8"/>
            <title>
                {% if header.title %}{{ header.title|e('html') }}
                    |
                {% endif %}{{ site.title|e('html') }}</title>

            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            {% include 'partials/metadata.html.twig' %}

            <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}"/>
            <link rel="canonical" href="{{ page.url(true, true) }}"/>

            {% block stylesheets %}
                {% do 
                    assets.addCss('theme://css/base.css') %}
                {% do 
                    assets.addCss('theme://css/vendor.css') %}
                {% do 
                    assets.addCss('theme://css/main.css') %}

            {% endblock %}
            {{ assets.css() }}

            {% block javascripts %}
                {% do 
                    assets.addJs('theme://js/modernizr.js') %}
                {% do 
                    assets.addJs('theme://js/pace.min.js') %}
                {% do 
                    assets.addJs('jquery', 101, {group: 'bottom'}) %}
                {% do 
                    assets.addJs('theme://js/plugins.js', {group: 'bottom'}) %}
                {% do 
                    assets.addJs('theme://js/main.js', {group: 'bottom'}) %}
            {% endblock %}
            {{ assets.js() }}

        {% endblock head %}
    </head>
    <body id="top" class="{% block body_classes %}{{ body_classes }}{% endblock %}">
    <!-- header
    ================================================== -->      
            {% block header %}
                <section id="header" class="s-header">
                    <div class="header-logo">
                    <a class="footer-site-logo" href="#0">
                        {% include 'partials/logo.html.twig' %}
                        </a>
                    </div>
                    <nav class="header-nav-wrap">
                        
                        {% block header_navigation %}
                            {% include 'partials/navigation.html.twig' %}
                        {% endblock %}

                        {% if config.plugins.login.enabled and grav.user.username %}
                            <span class="login-status-wrapper">
                                <i class="fa fa-user"></i>
                                {% include 'partials/login-status.html.twig' %}</span>
                        {% endif %}
                    </nav>
                </section>
                <div class="mobile-menu">
                    <div class="button_container" id="toggle">
                        <span class="top"></span>
                        <span class="middle"></span>
                        <span class="bottom"></span>
                    </div>
                </div>
            {% endblock %}
    <!-- end s-header -->

             {% block body %}
                {% block content %}{% endblock %}
            {% endblock %}


        {% block footer %}
            <footer>
        <div class="row">
            <div class="col-full">

                <div class="footer-logo">
                    <a class="footer-site-logo" href="#0">{% include 'partials/logo.html.twig' %}</a>
                </div>

                <ul class="footer-social">
                    <li><a href="#0">
                        <i class="im im-facebook" aria-hidden="true"></i>
                        <span>Facebook</span>
                    </a></li>
                    <li><a href="#0">
                        <i class="im im-twitter" aria-hidden="true"></i>
                        <span>Twitter</span>
                    </a></li>
                    <li><a href="#0">
                        <i class="im im-instagram" aria-hidden="true"></i>
                        <span>Instagram</span>
                    </a></li>
                    <li><a href="#0">
                        <i class="im im-behance" aria-hidden="true"></i>
                        <span>Behance</span>
                    </a></li>
                    <li><a href="#0">
                        <i class="im im-pinterest" aria-hidden="true"></i>
                        <span>Pinterest</span>
                    </a></li>
                </ul>
                    
            </div>
        </div>

        <div class="row footer-bottom">

            <div class="col-twelve">
                <div class="copyright">
                    <span>© Copyright Hola 2017</span> 
                    <span>Design by <a href="https://www.styleshout.com/">styleshout</a></span>	
                </div>

                <div class="go-top">
                <a class="smoothscroll" title="Back to Top" href="#top"><i class="im im-arrow-up" aria-hidden="true"></i></a>
                </div>
            </div>

        </div> <!-- end footer-bottom -->

    </footer> <!-- end footer -->
        {% endblock %}

        {% block bottom %}
            {{ assets.js('bottom') }}
        {% endblock %}

    </body>
