<ul class="header-nav">
    {% macro pageLinkName(text) %}{{ text|lower|replace({' ':'_'})}}
    {% endmacro %}
    {% for module in page.collection() %}
       
        {% set current_module = (module.active or module.activeChild) ? 'current' : '' %}

        {% if module.header.visible %}
         
            {% if page.slug == 'home' and module.modular_link %}
                <li class=" {{ current_module }} ">
                    <a class="smoothscroll" href="#{{module.modular_link}}">{{ module.item_name }}</a>
                </li>
            {% elseif page.slug == 'home' and not module.modular_link %}
                <li class=" {{ current_module }} ">
                    <a class="smoothscroll" href="#{{ (module.menu) }}">{{ module.menu }}</a>
                </li>
               
            {% else %}
            
                    <li class=" {{ current_module }} ">
                        <a class="smoothscroll" href="#">{{ module.item_name }}
                        </a>
                    </li>
               
            {% endif %}

        {% endif %}
    {% endfor %}
</ul>
 {{ dump(page.collection) }}