{% extends 'partials/base.html.twig' %}
{% set blog_image = page.media.images[page.header.hero_image]?: page.media.images | first %}
{% set collection = page.collection() %}
{% set blog = page.find(header_var('blog_url')|defined(theme_var('blog-page'))) %}
{% set show_pagination = header_var('show_pagination', [page, blog]) | defined(true) %}

{% block header %}
    <header class="s-header">

        <div class="header-logo">
            <a class="footer-site-logo" href="#0">
                {% include 'partials/logo.html.twig' %}
            </a>
        </div>

        <nav class="header-nav-wrap">
            <ul class="header-nav">
                <li>
                    <a href="index.html#home" title="home">Home</a>
                </li>
                <li>
                    <a href="index.html#about" title="about">About</a>
                </li>
                <li>
                    <a href="index.html#works" title="works">Works</a>
                </li>
                <li class="current">
                    <a href="blog.html" title="blog">Blog</a>
                </li>
                <li>
                    <a href="index.html#contact" title="contact">Contact</a>
                </li>
            </ul>
        </nav>

        <a class="header-menu-toggle" href="#0">
            <span>Menu</span></a>

    {% endblock %}
    {# End Header #}

    {% block body %}
        {% for child in collection %}
            {% if loop.first %}
                <section class="page-header page-hero" style="background-image:url({{ child.media[child.header.hero_image].url() }})">

                    <div class="row page-header__content">
                        <article class="col-full">

                            <div class="page-header__info">
                                <div class="page-header__cat">
                                    {% for category in child.taxonomy.category %}
                                        <a href="#0">{{ category }}</a>
                                    {% endfor %}
                                </div>
                                <div class="page-header__date">
                                    {{child.date|date("F d, Y")}}
                                </div>
                            </div>

                            <h1 class="page-header__title">
                                <a href="#0" title="">
                                    {{child.title}}
                                </a>
                            </h1>
                            <p>{{ child.content|slice(0, 150) }}...</p>
                            <p>
                                <a href="#0" class="btn btn--stroke page-header__btn">Read More</a>
                            </p>
                        </article>
                    </div>

                </section>
                <!-- end highlighted-post -->

            {% endif %}
        {% endfor %}

        <div class="blog-content-wrap">
            <div class="row blog-content">
                <div class="col-full">
                    <div class="blog-list block-1-2 block-tab-full">
                        {% for child in collection %}
                            {% if not loop.first %}
                                <article class="col-block">

                                    <div class="blog-date">
                                        <a href="{{ child.url }}">{{child.date|date("F d, Y") }}</a>
                                    </div>

                                    <h2 class="h01">
                                        <a href="{{ child.link }}">{{ child.title }}</a>
                                    </h2>
                                    <p>
                                        {{ child.header.lead|slice (0.300) }}
                                    </p>

                                    <div class="blog-cat">
                                        <a href="{{ child.categoryLink }}">{{ child.postCategory }}</a>
                                    </div>

                                </article>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}
    {# End Body Block #}
